#articles-container {
  h1 {
    display: inline;
    font-size: 20px;
    font-weight: 700;
  }

  h2 {
    display: inline;
    font-size: 18px;
    font-weight: 400;
  }

  time {
    font-size: 14px;
    color: #000000;
    font-weight: 200;
  }
  
  ul {
    list-style: none;
    margin-top: 20px;
  }

  a {
    &:hover,
    &:focus,
    &:hover li,
    &:focus li {
      background-color: black;
      color: white;
    }
  }

  .articles-tags {
    margin: 0;

    li {
      float: left;
      padding-right: 5px;
      font-size: 12px;
      font-weight: 100;
    }
  }
}

.articles-list-item {
  display: block;
  margin-bottom: 50px;
}
