#main-emoji-container {
  max-width: 350px;
  width: 100%;
}

#main-emoji {
  width: 100%;
}

#github-heatmap {
  width: 100%;
  max-width: 800px;
}

.link {
  color: rgb(0, 17, 255);
}

#about-me {
  margin-left: 10%;
  margin-right: 10%;
  display: block;
}

#pro-pic {
  border-radius: 50%;
  width: 150px;
  float: right;
  text-align: right;
  display: block;
}

#bio {
  max-width: 60%;
}