<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>
    <%- blogTitle %>
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../src/scss/init.scss">
  <link rel="stylesheet" href="../src/scss/index.scss">
</head>

<body>
  <header id="top-container" role="navigation">
  </header>

  <main id="main-container">
    <div id="about-me">
      <img src="../assets/profile.jpg" id="pro-pic" alt="My profile picture" />
      <div id="bio">
        <p>
          I am a software engineer and a tinkerer. I love to experiment with new tools and technologies in the
          software engineering space. Currently I work at <a href="https://signoz.io" class="link">SigNoz</a> where I
          joined as a <strong>Founding Software Enginner</strong>, currently building a
          single pane for observability.
          <br>
          <br>
          Previously I worked at <a href="https://atlan.com" class="link">Atlan</a> as <strong>Senior Software
            Enginner</strong> where I joined as an early engineer after seed round where I was able to build
          authentication and authorization systems from the ground up. Built a credential management and third-party
          credential testing system for Argo Workflows using HashiCorp Vault. Before my exit the company was valued at
          $450M.
          <br><br>
          At my current job I am currently working with OLAP databases, tuning it and extracting high performance for
          observability use cases.
          <br>
          <br>
          I completed my B.Tech in <strong>Computer Science and Engineering</strong> from Tezpur University, Assam.
          <br><br>

          Links to my talks:<br>
          <a href="https://www.youtube.com/watch?v=DokbL2o7zx8" class="link">Search and aggregation service in k8s</a>
          <br>
          <a href="https://youtu.be/zgbedmitpyw?t=12" class="link"> Monitoring Go services</a>

          <br><br>
          I can be reached at <a href="mailto:nityanandagohain@gmail.com" class="link">nityanandagohain@gmail.com</a>.
        </p>
      </div>
    </div>
  </main>

  <script defer src="../src/ts/init.ts"></script>
</body>

</html>