<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title><%- blogTitle %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../src/scss/init.scss">
  <link rel="stylesheet" href="../src/scss/index.scss">
</head>

<body>
  <header id="top-container" role="navigation">
  </header>

  <main id="main-container">
    <div id="about-me">
      <img src="../assets/profile.jpg" id="pro-pic" alt="My profile picture" />
      <div id="bio">
      <p>I am a software developer and a tinkerer. I love to experiment with new tools and technologies in the software engineering space.</p><br>
      <p>
        I currently work at <a href="https://atlan.com" class="link">Atlan</a> as <strong>Software Enginner II</strong> focued on bulding distrbuted systems. 
        I completed my B.Tech in Computer Science and Engineering from Tezpur University, Assam.

        I can be reached at 
        <a href="mailto:nityanandagohain@gmail.com" class="link">nityanandagohain@gmail.com</a>.
      </p>
    </div>
    </div>
  </main>

  <script defer src="../src/ts/init.ts"></script>
</body>

</html>
